<div>
  <h2>{{ currentMonth | date: 'MMMM yyyy' }}</h2>
  <button (click)="previousMonth()">Previous</button>
  <button (click)="nextMonth()">Next</button>

  <table>
    <thead>
      <tr>
        <th *ngFor="let dayName of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']">{{ dayName }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of calendarDays">
        <td *ngFor="let day of week">
          <div [class.disabled]="!isSameMonth(day, currentMonth)" class="calendar-day">{{day.getDate()}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <input type="date" [(ngModel)]="selectedDate" (change)="onDateChange($event)">
  <button (click)="showSpecific()">Show Specific Data</button>
</div>

<div *ngIf="errorMessage">{{ errorMessage }}</div>

<div *ngIf="selectedDayData && selectedDayData.length > 0">
  <h3>Zeiteinträge {{ selectedDate | date:'dd.MM.YYYY'}}</h3>
  <ul>
    <li *ngFor="let entry of selectedDayData">
      <p>Datum: {{ entry.date | date:'dd.MM.YYYY'}}</p>
      <p>Zeit in Minuten: {{ entry.totalMinutes }}</p>
    </li>
  </ul>
</div>