<div>
  <h2>{{ currentMonth | date: 'MMMM yyyy' }}</h2>
  <button (click)="previousMonth()">Previous</button>
  <button (click)="nextMonth()">Next</button>

  <table>
    <thead>
      <tr>
        <th *ngFor="let dayName of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']">{{ dayName }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of calendarDays">
        <td *ngFor="let day of week" (click)="showDayDetails(day)">
          <div [class.disabled]="!isSameMonth(day, currentMonth)" class="calendar-day">{{day.getDate()}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedDayData">
  <h3>HomeOffice-Daten für den {{ selectedDayData.date }}</h3>
  <p>Geleistete Stunden: {{ selectedDayData.hours }}</p>
</div>
